<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Catalogo Clientes</title>
</head>

<body>
    <center>
        <h1>Clientes</h1>
    </center>
    <div class="container">
        <table border="1px">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido 1</th>
                <th>Apellido 2</th>
                <th>Pass</th>
            </tr>
            <% clientes.forEach(cliente => { %>
                <tr>
                    <td><%= cliente.id_cliente %></td>
                    <td><%= cliente.nombre_cliente %></td>
                    <td><%= cliente.ap1_cliente %></td>
                    <td><%= cliente.ap2_cliente %></td>
                    <td><%= cliente.contrasena_cliente %></td>
                </tr>
            <% }); %>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>